#div-about {
    text-align: center;
}

#div-background,
#div-hobbies {
    text-align: left;
}

#other-hobbies-list {
    text-align: left;
}

#logo {
    width: 230px;
    height: 230px;
}

#button-contact {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
}

#div-contact {
    align-items: center;
}
